p{
    color: white;
    border: dotted;
    font-family:courier;
}

a{
    color:purple;
}

h3{
    color:purple;
}

#basketball {
    border: solid;
    border-color: white;
    border width: 6 px;
    padding: 25 px; 
}

h1{
    color:white;
    position: sticky;
    top:0px;

    font: courier;
    text-decoration: underline;
}

#friendimage{
    border:dashed;
}

body{
    background-attachment: fixed;
}

.warriorsplayers{
    height: 200px;
}

h3{
    color:white;
}

#basketballlist{
    position: relative;
    bottom:120px;
    left: 260px;
}

#warriorstitle{
    text-decoration: underline;
    color:black;
    position:relative;
}

.giantsplayers{
    height: 200px;
}

#giantstitle{
    position:relative;
    text-decoration: underline;
    color:black;
}

#baseball{
    border: solid;
    border-color: white;
    border width: 6 px;
    padding: 25 px; 
}