p{
    color: white;
    border: dotted;
    font-family:courier;
}

a{
    color:purple;
}

h3{
    color:purple;
}

#basketball {
    border: solid;
    border-color: white;
    border width: 6 px;
    padding: 25 px; 
}

h1{
    color:white;
    font: courier;
    text-decoration: underline;
}

#friendimage{
    border:dashed;
}

body{
    background-attachment: fixed;
}

.warriorsplayers{
    height: 200px;
}

h3{
    color:white;
}

#basketballlist{
    position: absolute;
    top: 1433px;
    right: 750px;
}