#head{
    position:relative;
    top:30px;
}

body{
    background-attachment: fixed;
}

#headerbox{
    text-align: center;
    background-color:white;
    height:120px;
}

#subhead{
    text-align: center;
    color:black;
    position:relative;
    top:-75px;
}

#subheadbox{
   background-color: lightskyblue;
}

#footballpicture{
    height: 795px;
}

#imagecaption{
  color: white;  
  background-color:lightskyblue;
  width: 250px;
  border: 15px;
  padding: 20px;
  margin: 20px;
  position:absolute;
  top:300px;
  font-size: 30px;
}

#directory{
   background-color: lightskyblue;
   width: 250px;
   border: 20px;
   padding: 20px;
   margin: 40px;
   float:right;
}

body{
    background-color:black;
    font-family: "Verdana";
}

#paragraphs{
    text-align: left;
    color:white;
    font-size:20px;
}

a{
    color:black;
}

.listhead{
    color:lightskyblue;
}

li{
    color:white;
}

#thewarriors{
    position:absolute;
    left:330px;
    top:1350px;
    border: dashed;
    border-color:lightskyblue;
}

#thegiants{
    position:absolute;
    left:650px;
    top:1350px;
    border: dashed;
    border-color:lightskyblue;
}

#theniners{
    position:absolute;
    left:1090px;
    top:1350px;
    border: dashed;
    border-color:lightskyblue;
}

.sportpics{
    height: 200px;
}

#warriorstitle{
    text-decoration: underline;
    color:lightskyblue;
    position:relative;
    text-align: center;
    font-size: 35px;
}

#basketball {
    color:white;
    margin:auto;
    font-size: 26px;
   
}

#warriorslogo{
    float:left;
}

h5{
    color:white;
}

.click{
    background-color: black;
    width: 300px;
    border: 15px;
    padding: 0.5px;
    margin: 20px;
}

.list1{
    height:120px;
    width:200px;
    border:1pxsolid white;
    font:16px Georgia; 
    background-color:lightskyblue; 
    overflow:auto;
}

#basketballlist{
    position: relative;
    bottom:119px;
    left: 260px;
}

.warriorsplayers{
    height: 250px;
    padding: 10px;
    position: relative;
    bottom: 300px;
}

#stephstats{
    width:500px;
    background-color:white; 
    position:relative;
    padding: 10px;
    left: 700px;
    bottom: 400px;
    text-align: center; 
}

#h2{
    text-decoration: underline;
}




#giantstitle{
    text-decoration: underline;
    color:lightskyblue;
    position:relative;
    text-align: center;
    font-size: 35px;
}

#baseball {
    color:white;
    margin:auto;
    font-size: 26px;
}

#giantslogo{
    float:left;
    padding: 10px;
}

h5{
    color:white;
}

.click{
    background-color: black;
    width: 300px;
    border: 15px;
    padding: 0.5px;
    margin: 20px;
}

#baseballlist{
    position: relative;
    bottom:119px;
    left: 260px;
}

.giantsplayers{
    height: 310px;
    position: relative;
    bottom:280px;
    padding: 10px;
}

#poseystats{
    width:500px;
    background-color:white; 
    position:relative;
    bottom:340px;
    left:500px;
    text-align: center; 
}




#sharkstitle{
    text-decoration: underline;
    color:lightskyblue;
    position:relative;
    text-align: center;
    font-size: 35px;
}

#hockey {
    color:white;
    margin:auto;
    font-size: 26px;
}

#sharkslogo{
    float:left;
    padding: 10px;
}

h5{
    color:white;
}

#hockeylist{
    position: relative;
    bottom:119px;
    left: 260px;
}

.sharksplayers{
    height: 300px;
    position: relative;
    bottom: 300px;
    padding: 10px;
}

#timostats{
    width:500px;
    background-color:white; 
    position:relative;
    bottom:340px;
    left:500px;
    text-align: center; 
}

#myteam{
    color:white;
}

