body {
    background-attachment:fixed;
}

h1,h3{
    color:white;
}

h1{
    text-decoration: underline;
}

#bestfriend1{
    height: 400px;
}

li{
    color:purple;
}

#bestfriend1{
    border:dashed;
}

p{
    color:white;
    border:dashed;
    border-color: white;
    background-color:teal;
}

h2{
    color:cornflowerblue;
}