body {
    background-attachment:fixed;
}

h1,h3{
    color:white;
}

h1{
    text-decoration: underline;
}

#bestfriend1{
    height: 400px;
}

li{
    color:purple;
}

#bestfriend1{
    border:dashed;
}

#p1{
    color:white;
    border:dashed;
    border-color: white;
    background-color:teal;
}

h2{
    color:cornflowerblue;
}

p{
    color:purple;
    font-family: courier;
}

#lily{
    float:right;
}

#lily1{
    position:relative;
}

#kendallpic{
    position:relative;
    left:280px;
}

#kendall1{
    position:relative;
    left:480px;
    bottom: 68px;
}

